
* {
  	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

img {
	display: inline-block;
	width: 100%;
}

.ba-grid > [class*="ba-width-"] {
    float: left;
}

.ba-grid {
    overflow: auto;
    margin-left: -20px;
}

.ba-grid + .ba-grid {
	margin-top: 20px;
}

[class*="ba-width-"] {
	overflow: hidden;
	padding-left: 20px;
    line-height: 0;
}

.ba-width-1-2 {
    width: 50%;
}

.ba-width-1-3 {
    width: 33.33%;
}

.ba-width-1-6 {
    width: 16.67%;
}


